:root {
    --texto-principal: "Merriweather", serif;
    --texto-secundario: "Poppins", sans-serif;

    --color-principal: #006c82;
    --color-transparencia: #006c825a;
    --color-secundario: #7821a4;
    --color-terciario: #ffffe6;
    --color-parrafo: #212529;

    --body: 2.4rem;
    --h6-size: 1.8rem;
    --h5-size: 2rem;
    --h4-size: 2.6rem;
    --h3-size: 3.2rem;
    --h2-size: 4.8rem;
    --h1-size: 6.4rem;

    --body-sm: 1.7rem;
    --h6-size-sm: 1rem;
    --h5-size-sm: 1.5rem;
    --h4-size-sm: 1.9rem;
    --h3-size-sm: 2.1rem;
    --h2-size-sm: 3.2rem;
    --h1-size-sm: 5.4rem;
}

/*General*/
html {
    font-size: 10px;
}

body,
body>* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--texto-principal);
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

h3 {
    font-size: var(--h3-size);
    color: var(--color-principal);
    margin-bottom: 3rem;
    font-weight: bold;
}

h4 {
    font-size: var(--h4-size);
}

h5 {
    font-size: var(--h5-size);
}

h6 {
    font-size: var(--h6-size);
}

p,
li {
    font-size: var(--body);
}

a {
    text-decoration: none;
    color: var(--color-principal);
}

a:hover {
    color: var(--color-secundario);
    transition: color 0.3s ease;
}

/*Margenes*/

.margen-transparente {
    padding: 10rem 6.75rem 10rem 6.75rem;
}

.margen-color {
    padding: 10rem 6.75rem 10rem 6.75rem;
    background-color: var(--color-transparencia);
}

/*Botones*/

.boton-morado {
    background-color: var(--color-secundario);
    border-radius: 1rem;
    border: 0.2rem solid var(--color-secundario);
    color: var(--color-terciario);
    font-size: var(--body);
    width: 28rem;
    height: 5rem;
}

.boton-morado:hover {
    color: var(--color-secundario);
    background-color: transparent;
    border: 0.2rem solid var(--color-secundario);
    transition: background-color 0.5s ease-in;
    transition: color 0.5s ease-in;
}

.boton-borde {
    background-color: transparent;
    border-radius: 1rem;
    border: 0.2rem solid var(--color-secundario);
    color: var(--color-secundario);
    font-size: var(--body);
    width: 28rem;
    height: 5rem;
}

.boton-borde:hover {
    color: var(--color-terciario);
    background-color: var(--color-secundario);
    border: 0.2rem solid var(--color-secundario);
    transition: background-color 0.5s ease-in;
    transition: color 0.5s ease-in;
}

.boton-leer {
    color: var(--color-principal);
    font-size: var(--body);
    border-width: 0;
    background-color: transparent;
}

.boton-leer:hover {
    color: var(--color-secundario);
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.boton-envio {
    background-color: var(--color-principal);
    border-radius: 1rem;
    border: 0.2rem solid var(--color-principal);
    color: var(--color-terciario);
    font-size: var(--body);
    width: 14rem;
    height: 5rem;
}

.boton-envio:hover {
    color: var(--color-principal);
    background-color: transparent;
    border: 0.2rem solid var(--color-principal);
    transition: background-color 0.5s ease-in;
}

.boton-blanco {
    background-color: var(--color-terciario);
    border-radius: 1rem;
    border: 0.2rem solid var(--color-terciario);
    color: var(--color-principal);
    font-size: var(--body);
    width: 28rem;
    height: 5rem;
}

.boton-blanco:hover {
    color: var(--color-terciario);
    background-color: var(--color-principal);
    border: 0.2rem solid var(--color-terciario);
    transition: background-color 0.5s ease-in;
    transition: color 0.5s ease-in;
}

.boton-verde {
    background-color: var(--color-principal);
    border-radius: 1rem;
    border: 0.2rem solid var(--color-terciario);
    color: var(--color-terciario);
    font-size: var(--body);
    width: 28rem;
    height: 5rem;
}

.boton-verde:hover {
    color: var(--color-principal);
    background-color: var(--color-terciario);
    border: 0.2rem solid var(--color-terciario);
    transition: background-color 0.5s ease-in;
    transition: color 0.5s ease-in;
}

/*Barra de navegación*/

.navbar {
    background-color: var(--color-principal);
    min-height: 10rem;
    padding: 0 5rem 0 5rem;
}

.navbar a,
.offcanvas-title {
    color: var(--color-terciario);
    font-size: var(--body);
    margin: 1rem;
}

.navbar-brand {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.offcanvas-header,
.offcanvas-body {
    background-color: var(--color-principal);
}

.offcanvas.offcanvas-end {
    width: 40vh;
}

/*Encabezado*/

.hero-title {
    background-image: url(./imagenes/fondo.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding-top: 12rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.hero-title>* {
    margin-left: 6.75rem;
}

.hero-title h1 {
    font-size: var(--h3-size);
    font-weight: bold;
}

.hero-title h3 {
    color: var(--color-parrafo);
    margin-bottom: 0.5rem;
    font-weight: normal;
}

.hero-title>div:first-child {
    grid-column: 1/2;
    grid-row: 1/2;
}

.hero-title>div:last-child {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
}

.hero-title .boton-morado {
    margin-right: 3rem;
}

/*Semblanza*/

.semblanza {
    border-top: solid 0.1rem var(--color-transparencia);
}

.semblanza h2 {
    background-color: #006c82;
    color: var(--color-terciario);
}

.semblanza-img {
    border-radius: 50%;
    width: 75%;
    height: auto;
    max-width: 40rem;
    max-height: 40rem;
    display: flex;
    align-content: center;
    justify-content: center;
}

.semblanza-img:hover {
    -webkit-animation: flash 1s;
    animation: flash 1.5s;
}

@-webkit-keyframes flash {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes flash {
    0% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

.acerca-de {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: justify;
}

.modal-transparencia {
    background-color: transparent;
    border: 0;
}

/*Servicios*/

.servicios-lista ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.servicios-lista ul li {
    padding: 0;
    text-align: center;
}

.servicios-modalidad {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    overflow: hidden;
}

.servicios-modalidad a img {
    border-radius: 1rem;
    width: 35rem;
    height: 30rem;
    object-fit: cover;
    object-position: center;
    margin: 0;
}

.servicios-img-box {
    overflow: hidden;
}

.servicios-img:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease-in-out;
}


/*Resumen*/
/*Proyectos*/


/*Contacto*/

.contacto h4 {
    background-color: var(--color-principal);
    color: var(--color-terciario);
    padding: 0.5rem 0 0.5rem 0.5rem;
}

.contacto ul {
    padding: 2rem 0 2rem 5rem;
    font-family: var(--texto-secundario);
}

.contacto-botones {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    row-gap: 2rem;
}

.contacto-medios {
    padding: 0 1.5rem 0 0;
}

.contacto-formulario {
    padding: 0 0 0 1.5rem;
}

.contacto form {
    padding: 2rem 1rem 0 1rem;
}

.form-label {
    font-size: var(--body);
    font-family: var(--texto-secundario);
}

.form-control,
.form-check-input {
    border: solid 1px var(--color-principal);
}

.form-control,
.form-control::placeholder,
.invalid-feedback {
    font-size: var(--h5-size);
}

.form-check-input,
.form-check-label {
    font-size: var(--h5-size);
    font-family: var(--texto-secundario);
    color: var(--color-parrafo);
}

/*Ubicación*/

.ubicacion iframe {
    width: 100%;
    height: 40rem;
    border: solid 1px var(--color-principal);
}

/*Footer*/

footer {
    font-family: var(--texto-principal);
    background-color: var(--color-principal);
    color: var(--color-terciario);
    font-size: var(--h5-size-sm);
    padding: 0 5rem 0 5rem;
}

footer a {
    color: var(--color-terciario);
}

footer a:hover {
    color: var(--color-secundario);
}

footer h2,
footer h5 {
    text-align: center;
}

footer p {
    margin: 0.5rem 0 0.5rem 0;
    font-size: var(--body-sm);
}

footer hr {
    border-top: solid 1px var(--color-terciario);
    opacity: 1;
}

footer .container-fluid {
    padding-top: 10rem;
    padding-bottom: 1rem;
}

footer .contacto-botones {
    padding: 5rem 0 5rem 0;
}

.footer-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*MediaQueries*/

/*Extra extra large*/
@media (min-width: 1920px) {
    .container-fluid,
    header {
        padding-left: 10%;
        padding-right: 10%;
    }
}

/*Large*/
@media (max-width: 1400px) {

    /*Tamaño de fuentes*/
    h1 {
        font-size: var(--h1-size-sm);
    }

    h2 {
        font-size: var(--h2-size-sm);
    }

    h3,
    .hero-title h1 {
        font-size: var(--h3-size-sm);
    }

    h4 {
        font-size: var(--h4-size-sm);
    }

    h5 {
        font-size: var(--h5-size-sm);
    }

    h6 {
        font-size: var(--h6-size-sm);
    }

    p,
    li,
    .form-label,
    .boton-envio,
    .boton-leer,
    .navbar a,
    .offcanvas-title {
        font-size: var(--body-sm);
    }

    .form-control,
    .form-control::placeholder,
    .invalid-feedback,
    .form-check-input,
    .form-check-label {
        font-size: var(--h5-size-sm);
    }

    /*Botones*/
    .boton-borde,
    .boton-morado,
    .boton-blanco,
    .boton-verde {
        font-size: var(--body-sm);
        width: 20rem;
        height: 4rem;
    }

    .boton-envio {
        width: 10rem;
        height: 4rem;
    }

    /*Barra de navegación*/
    .navbar {
        min-height: 8rem;
    }

}

/*Medium & Small*/
@media (max-width: 992px) {
    /*Margenes*/
    .margen-transparente,
    .margen-color {
        padding: 8rem 1rem 8rem 1rem;
    }

    /*Barra de navegación*/
    .navbar {
        padding: 0;
    }
    .navbar>.container-fluid {
        flex-wrap: wrap;
    }

    .navbar a {
        margin: 0.25rem;
        font-size: var(--h5-size-sm);
    }

    /*Presentación*/
    .hero-title {
        grid-template-columns: 1fr;
    }

    .hero-title>* {
        margin-left: 2rem;
    }

    .hero-title .boton-morado {
        margin-bottom: 2rem;
    }

    /*Semblanza*/
    .semblanza-img {
        margin-bottom: 5rem;
    }

    /*Servicios*/
    .servicios-modalidad a {
        width: 100%;
    }

    .servicios-modalidad a img {
        width: 100%;
    }

    /*Contacto*/
    .contacto-botones {
        flex-wrap: wrap;
    }

    .contacto-medios {
        padding: 0 0 4rem 0;
    }
    
    .contacto-formulario {
        padding: 0;
    }

    /*Footer*/
    footer {
        padding: 0 1rem 0 1rem;
    }

    footer .container-fluid {
        padding-top: 8rem;
    }

    .footer-info {
        flex-wrap: wrap;
    }

}

/*Extra small*/
@media (max-width: 410px) {
    .navbar-toggler {
        margin-bottom: 0.8rem;
        margin-left: 0.8rem;
    }
}

/*Política de privacidad*/
.politica-main {
    padding-top: 12rem;
    padding-bottom: 2rem;
}